@font-face {
    font-family: 'product_sans';
    src: url('../font/product_sans_bold-webfont.woff2') format('woff2'),
         url('../font/product_sans_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: bold;

}

@font-face {
    font-family: 'product_sans';
    src: url('../font/product_sans_regular-webfont.woff2') format('woff2'),
         url('../font/product_sans_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
